.gitignore
drawgraph.html
logger.txt
test.log
data/
.pytest_cache/
build/
qntsim.egg-info/
__pycache__
backend/web/qd_sp.log
backend/web/qsdc_tel.log
backend/web/parameters.json
backend/web/parameters.txt
.vscode/extensions.json
