<div class="home">
    <div id="parallax" class="container-fluid shadow p-4 h-90">
        <div class="d-flex justify-content-between align-items-center row">
            <div class="col-7">
                <section class="jumbotron jumbotron-fluid">
                    <img src="/assets/images/qnt-logo.png" width="50%">
                    <h1 class="display-5 text-custom">Quantum Network Simulator</h1>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <p class="text-white">A robust simulation tool to benchmark your quantum
                                network architecture against different workloads. Simulate real-world
                                quantum communication applications using our intuitive web interface. Designed for
                                corporates to evaluate the power of
                                quantum secure communications, and for academics to advance breakthroughs in quantum
                                networking.</p>
                        </div>
                    </div>
                    <br>
                    <div class="lead">
                        <button class="btn" routerLink='/minimal'><span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Get Started
                        </button>
                    </div>
                </section>
            </div>
            <div id="globe" class="col-5">
                <div id="globeViz" class="my-auto"></div>
            </div>
        </div>
    </div>
    <div id="uses" class="container-fluid shadow p-4 h-90">
        <h2 class="text-white text-center bg-transparent">Unleash the potential of quantum
            networking with our simulator - test, validate, and innovate!</h2>


        <div class="justify-content-center m-5">
            <div class="row">
                <div class="col-3"><img src="/assets/images/benefits.png" height="100%" width="100%"></div>
                <div class="list-group col-9">
                    <div class="list-group-item rounded bg-black text-white">
                        <div class="d-flex w-100 justify-content-between">
                            <h3 class="mb-1">Optimize Quantum Resource Utilization</h3>
                        </div>
                        <p class="mb-1">A quantum network simulator can be used to test and optimize quantum
                            communication
                            applications
                            to ensure efficient utilization of quantum resources. By simulating the behavior of
                            quantum
                            networks,
                            researchers and engineers can identify potential issues and improve the performance of
                            their
                            applications
                            before deployment. This can save time and resources, as well as help to ensure the
                            success of
                            quantum
                            communication projects.</p>
                    </div>
                    <hr>
                    <div class="list-group-item rounded bg-black text-white">
                        <div class="d-flex w-100 justify-content-between">
                            <h3 class="mb-1">Validate Communication Protocols against Adversary Attacks</h3>
                        </div>
                        <p class="mb-1">Security is a critical aspect of quantum communication. A quantum network
                            simulator
                            can be used
                            to validate communication protocols against adversary attacks and channel noise models.
                            This
                            ensures that
                            the communication protocols are secure and robust against potential attacks. The
                            simulator can
                            simulate a
                            wide range of scenarios and provide valuable insights into the security of the
                            protocols.</p>
                    </div>
                    <hr>
                    <div class="list-group-item rounded bg-black text-white">
                        <div class="d-flex w-100 justify-content-between">
                            <h3 class="mb-1">Design Quantum Networking Protocols</h3>
                        </div>
                        <p class="mb-1">Designing and testing network routing and reservation protocols for quantum
                            networks
                            can be
                            challenging due to the unique properties of quantum communication. A quantum network
                            simulator
                            can help
                            researchers and engineers to design and test their own network routing and reservation
                            protocols, enabling
                            them to optimize the performance of their networks.</p>
                    </div>
                    <hr>
                    <div class="list-group-item rounded bg-black text-white">
                        <div class="d-flex w-100 justify-content-between">
                            <h3 class="mb-1">Validate Scalable Quantum Network Designs</h3>
                        </div>
                        <p class="mb-1">A quantum network simulator can be used to validate scalable quantum network
                            designs
                            before
                            on-field development. By simulating the behavior of large-scale quantum networks,
                            researchers
                            and engineers
                            can identify potential issues and improve the scalability of their designs. This can
                            save time
                            and
                            resources, as well as helping to ensure the success of large-scale quantum communication
                            projects.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid shadow h-90">
        <h2 class="container-fluid shadow text-white text-center">Key Features</h2>

        <!-- <div class="row mx-5"> -->
        <div class="container container-fluid custom-container align-items-center">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <!-- <img class="mx-auto" src="/assets/images/feature.png"> -->
                        <h3>Tailored Networks</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Fully customizable networking stack. Choose default options or custom protocols to
                            optimize
                            performance and benchmark
                            against different workloads.</p>
                        <!-- <a href="#">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <!-- <img src="/assets/images/flexibility.png"> -->
                        <h3>Efficient Simulation</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Efficient simulation using multithreading approaches and optimum data structures for
                            real-world quantum communication
                            applications.
                        </p>
                        <!-- <a href="#">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <!-- <img src="/assets/images/flexibility.png"> -->
                        <h3>Realistic Modeling</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Physically developed with quantum treatment in mind to capture maximum quantumness for
                            accurate behavior reflection of
                            real-world quantum networks.
                        </p>
                        <!-- <a href="#">Read More</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container container-fluid custom-container align-items-center">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <!-- <img src="/assets/images/flexibility.png"> -->
                        <h3>Customizable protocols</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Design and test custom routing and reservation protocols with the Quantum Network
                            Simulator,
                            optimizing network
                            performance for quantum networks.
                        </p>
                        <!-- <a href="#">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <!-- <img src="/assets/images/flexibility.png"> -->
                        <h3>Scalable Systems</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Large-scale quantum communication projects are easily simulated across multiple devices,
                            identifying potential issues
                            and saving time and resources.
                        </p>
                        <!-- <a href="#">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <!-- <img src="/assets/images/flexibility.png"> -->
                        <h3>Intuitive Interface</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Intuitive web interface and wide set of options make designing quantum communication
                            scenarios easy, regardless of
                            understanding quantum theory. Ideal for academics and corporates.
                        </p>
                        <!-- <a href="#">Read More</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>

    <div class="container-fluid shadow p-4">
        <h2 class="container-fluid shadow p-4 text-white text-center bg-transparent">At the forefront of quantum
            communication,
            we're
            pioneering the way for a faster,
            more secure future!</h2>

        <!-- <h1>TODO: Company Testimonials</h1> -->
    </div>
</div>