<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>

	{% load static %}
	<link href="{% static '/assets/purpleBuzz/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/assets/purpleBuzz/css/boxicon.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/assets/purpleBuzz/css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static '/assets/purpleBuzz/css/custom.css' %}">
	<link rel="stylesheet" href="{% static '/css/all.css' %}">
	<link rel="stylesheet" href="{% static '/css/headings.css' %}">
	<link rel="stylesheet" href="{% static '/css/table.css' %}">
	<link rel="stylesheet" href="{% static '/css/form.css' %}">
	<link rel="stylesheet" href="{% static '/css/nav.css' %}">
	<link rel="stylesheet" href="{% static '/css/image.css' %}">
	<script src="{% static '/js/jquery.min.js' %}"></script>
	<script src="{% static '/js/app.js' %}"></script>
	

</head>
<body>
	<nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <div class="container d-flex align-items-center">
			<div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
				<div class="navbar align-self-left d-flex">

					<a class="nav-link " href="https://www.qulabs.ai/"><img src="{% static '/assets/images/QNTSim-removebg-preview.png' %}" width="150" height="50" alt=""></a>
				
				</div>
				<div class="flex-fill mx-xl-5 mb-2">
					<!--<a href="#">
						<img src="{% static '/assets/images/QNTSim-removebg-preview.png' %}" width="120" height="40" alt="">
					  </a>-->
					
					<ul class="nav navbar-nav d-flex mx-xl-5">
						<!--<li class="nav-item">
							<a href="https://www.qulabs.ai/"><img id="logo" src="{% static '/assets/images/QNTSim.png' %}"></img></a>
						</li>-->
						
						<li class="nav-item">
							<a class="nav-link btn-outline-primary rounded-pill px-5" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn-outline-primary rounded-pill px-5" href="/apps">Apps</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
    </nav>

    <section class="container overflow-hidden py-5">
        <div class="row gx-5 gx-sm-3 gx-lg-5 gy-lg-5 gy-3 pb-3 projects">

            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project ui branding">
                <a href="/apps?app=e91" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="{% static '/assets/images/qkd.jpg' %}" alt="Card image">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">E91</span>
                            <p class="card-text">Quantum Key Distribution</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->

            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project ui graphic">
                <a href="/apps?app=e2e" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="{% static '/assets/images/network_e2e2.jpg' %}"  alt="Card image">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">E2E</span>
                            <p class="card-text">End-to-end Entanglement</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->

            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project branding">
                <a href="/apps?app=teleportation" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="{% static '/assets/images/teleportation1.png' %}"  alt="Card image">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Teleportation</span>
                            <p class="card-text">Quantum Teleportation</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->

            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project ui graphic">
                <a href="/apps?app=ghz" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="{% static '/assets/images/GHZ2.png' %}" alt="Card image">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">GHZ</span>
                            <p class="card-text">Create GHZ state</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->

            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project ui graphic">
                <a href="/apps?app=qsdc1" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="{% static '/assets/images/QSDC.png' %}" alt="Card image">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">QSDC</span>
                            <p class="card-text">Two step QSDC using EPR pairs</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->

            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project branding">
                <a href="/apps?app=ping_pong" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="{% static '/assets/images/Crypt2.png' %}" alt="Card image">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Ping Pong</span>
                            <p class="card-text">Message sharing with security.</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->

            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project branding">
                <a href="/apps?app=ip1" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="{% static '/assets/images/Crypt4.png' %}" alt="Card image">
                    <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="service-work-content text-left text-light">
                            <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">QSDC</span>
                            <p class="card-text">QSDC with mutual authentication via rotation on arbitrary basis.</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->

            <!-- Start Recent Work -->
            

        </div>
    </section>
    <!-- End Service -->

	<br>
	<!-- <h1>Quantum Network Simulation Applications</h1>

	<div class="section">
		<h2>E91</h2>
		<h3>E91 QKD Protocol</h3>
		<a href="/apps?app=e91">Run E91 Application</a>
	</div>
	<div class="section">
		<h2>E2E</h2>
		<h3>End to End entanglement generation</h3>
		<a href="/apps?app=e2e">Run E2E Application</a>
	</div>
	<div class="section">
		<h2>GHZ</h2>
		<h3>Greenberger–Horne–Zeilinger state (GHZ state)</h3>
		<a href="/apps?app=ghz">Run GHZ Application</a>
	</div>
	<div class="section">
		<h2>IP1</h2>
		<h3>Quantum Secure Direct Communication with Mutual Authentication via Rotation of an arbitrary basis</h3>
		<a href="/apps?app=ip1">Run IP1 Application</a>
	</div>
	<div class="section">
		<h2>Ping Pong</h2>
		<h3>Quantum Secure Direct Communication based on Ping-pong Protocol</h3>
		<a href="/apps?app=ping_pong">Run Ping Pong Application</a>
	</div>
	<div class="section">
		<h2>QSDC1</h2>
		<h3>First QSDC Protocol</h3>
		<a href="/apps?app=qsdc1">Run QSDC Application</a>
	</div>
	<div class="section">
		<h2>Teleportation</h2>
		<h3>Quantum Teleportation</h3>
		<a href="/apps?app=teleportation">Run Teleportation Application</a>
	</div> -->

</body>
</html>