<h3>Ping Pong Application Parameters</h3>
<form id="appSettings">

    <label for="sender">Select Sender: </label>
    <select name="sender" id="sender">
        {% for node in nodes %}
        <option value="{{node}}">{{node}}</option>
        {% endfor %}
    </select>

    <label for="receiver">Select Receiver: </label>
    <select name="receiver" id="receiver">
        {% for node in nodes %}
        <option value="{{node}}">{{node}}</option>
        {% endfor %}
    </select>

    <label for="sequenceLength">Set sequence length: </label>
    <input type="text" name="sequenceLength" id="sequenceLength">
    <label for="message">Message: </label>
    <input type="text" name="message" id="message">

</form>
<footer>
    <h4>Ping-Pong      : Quantum Secure Direct Communication(QSDC) based on Ping-pong Protocol </h4>
    <h4>Sender         : A node in the network Topology</h4>
    <h4>Receiver       : A node in the network Topology</h4>
    <h4>Message        : The bit string message that needs to be transmitted from sender to receiver </h4>
    <h4>sequenceLength : The no.of entanglements required per bit for message transmitted </h4>
</footer>